html, body {
  font-family: ubunturegular;
  height: 100%;
}
.navHead {
  /*float:right;*/
  position:absolute;
  right:5px;
  padding-top: 10px;
  padding-right:5px;
}
.navLinks {
  margin-left:10px;
}
.headerText {
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.aboutMe {
  background: #bdf1f9;
  padding: 15px 20px 15px 20px;
  text-align:center;
}
.imageBlock {
  height: 400px;
  padding:25px 50px 25px 50px;
  box-sizing: border-box;
  text-align: center;
}
#image1 {
  vertical-align: middle;
  margin-right: 100px;
  max-width: 100%;
  height: auto;
}
#image2 {
  vertical-align: middle;
  margin-left: 100px;
}
.buttonBlock {
  position:relative;
  background: #233d68;
  background-image:linear-gradient(blue, purple);
  height: 300px;
  text-align: center;
}
.button {
  border: solid 1px white;
  border-radius: 15%;
  color: white;
  padding: 10px 20px;
  text-align:center;
  line-height: 50px;
  box-sizing: border-box;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.button:hover {
  box-shadow: 5px 5px 5px 2px black;
  background: #2557a8;
}
.button:active {
  color:#2557a8;
  background: white;
}
footer {
  background:black;
  color:white;
  padding: 10px 10px;
}
@font-face {
    font-family: 'ubunturegular';
    src: url('ubuntu-regular.ttf');
    src: url('ubuntu-regular-webfont.eot');
    src: url('ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-regular-webfont.woff2') format('woff2'),
         url('ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.flexboxBlock {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
}
.galleryImage {
  flex: 1 1 20%;
  margin: 5px;
}
.outerBlock {
  height:100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url("nature.jpg") repeat 0 0;
  /*background:url("nature.jpg");*/
  background-color:black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Fade animations */
    -webkit-animation: fade 2s 1;
    -moz-animation: fade 2s 1;
    -o-animation: fade 2s 1;
    animation: fade 2s 1;
}
.container {
  position:relative;
  left:50%;
  top:40%;
}
.content {
  position:relative;
  left:50%;
  top:60%;
  text-align: center;
  transform:translate(-50%,-50%);
  width:100%;
}
.title {
  -webkit-animation: fade 3s ease 1;
  -moz-animation: fade 3s ease 1;
  -o-animation: fade 3s ease 1;
  animation: fade 3s ease 1;

  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay:1s;
  animation-delay: 1s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity:0;
  color:white;
  font-weight:bold;
  font-size:100px;
  text-align: center;
  text-shadow: 5px 2px 5px black;
}
.info {
  color:lightgrey;
  background:rgba(0,0,0,0.5);
  box-sizing: border-box;
  padding:20px;
  text-align: center;
  margin: 50px 200px;
  border-radius: 10px;

  -webkit-animation: fade 3s ease 1;
  -moz-animation: fade 3s ease 1;
  -o-animation: fade 3s ease 1;
  animation: fade 3s ease 1;

  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay:1s;
  animation-delay: 1s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity:0;
  transition:box-shadow 1s ease 0s;
}
.info:hover {
  box-shadow: 0px 0px 5px 5px #454545;
}
.enterBtn {
  position:relative;
  left:50%;
  transform:translateX(-50%);
  background:rgba(0,0,0,0.75);
  width:60px;
  text-align: center;
  padding:15px;
  margin-top:20px;
  border-radius:10px;
  transition:box-shadow 1s ease 0s;

  -webkit-animation: sway 2s ease-in-out infinite;
  -moz-animation: sway 2s ease-in-out infinite;
  -o-animation: sway 2s ease-in-out infinite;
  animation: sway 2s ease-in-out infinite;

  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay:2s;
  animation-delay: 2s;
}
.enterBtn:hover {
  box-shadow: 0px 0px 5px 2px white;
}
/* Keyframe animations */
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes sway {
  0% {
    left: 50%;
  }
  25% {
    left:48%;
  }
  50% {
    left:50%;
  }
  75% {
    left:52%;
  }
  100% {
    left: 50%;
  }
}
@-moz-keyframes sway {
  0% {
    left: 50%;
  }
  25% {
    left:48%;
  }
  50% {
    left:50%;
  }
  75% {
    left:52%;
  }
  100% {
    left: 50%;
  }
}
@-o-keyframes sway {
  0% {
    left: 50%;
  }
  25% {
    left:48%;
  }
  50% {
    left:50%;
  }
  75% {
    left:52%;
  }
  100% {
    left: 50%;
  }
}
@keyframes sway {
  0% {
    left: 50%;
  }
  25% {
    left:48%;
  }
  50% {
    left:50%;
  }
  75% {
    left:52%;
  }
  100% {
    left: 50%;
  }
}
