/* TODO:
  - Make nav header fixed at top after scrolling down a certain amount
  - fix responsiveness for contact page on certain small screens (height of contactOuterBlock should be changed) and when height is changed
  - fix responsiveness of dropdown menu on smaller screens (only really for tablets)
  - Home and Contact page do not work with small heights and if phone is rotated sideways - also need to fix centering of the content - should be directly in center of page (measurements need to change when header and footer get smaller)
  - videos are too big at certain screen sizes, change the outer block size
  - animate drop down menu to "scroll out"
  - home page slide out nav button needs to be fixed - on left side, maybe with a transparent div behind so user can see it
  - Music dropdown needs to work on click as well for iPad Pro (1024px)
  - Fix size of circle slider at different screen sizes - also possible only use one Howler player - just set src for different songs

  To make header fixed while scrolling add these:
header {
  position: fixed;
  z-index: 1000;
  background: #1e2126;
  width: 100%;
}
nav {
  position: fixed;
}
 */
html, body {
  font-family: khularegular;
  height: 100%;
  /*overflow-x: hidden;*/
}

/*
************************
FONTS
************************
 */
@font-face {
    font-family: 'khulabold';
    src: url('../fonts/Khula/khula-bold-webfont.ttf');
    src: url('../fonts/Khula/khula-bold-webfont.eot');
    src: url('../fonts/Khula/khula-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Khula/khula-bold-webfont.woff2') format('woff2'),
         url('../fonts/Khula/khula-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'khulaextrabold';
    src: url('../fonts/Khula/khula-extrabold-webfont.ttf');
    src: url('../fonts/Khula/khula-extrabold-webfont.eot');
    src: url('../fonts/Khula/khula-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Khula/khula-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/Khula/khula-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'khulalight';
    src: url('fonts/Khula/khula-light-webfont.ttf');
    src: url('fonts/Khula/khula-light-webfont.eot');
    src: url('fonts/Khula/khula-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Khula/khula-light-webfont.woff2') format('woff2'),
         url('fonts/Khula/khula-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'khularegular';
    src: url('../fonts/Khula/khula-regular-webfont.ttf');
    src: url('../fonts/Khula/khula-regular-webfont.eot');
    src: url('../fonts/Khula/khula-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Khula/khula-regular-webfont.woff2') format('woff2'),
         url('../fonts/Khula/khula-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'khulasemibold';
    src: url('../fonts/Khula/khula-semibold-webfont.ttf');
    src: url('../fonts/Khula/khula-semibold-webfont.eot');
    src: url('../fonts/Khula/khula-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Khula/khula-semibold-webfont.woff2') format('woff2'),
         url('../fonts/Khula/khula-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
************************
ANIMATIONS
************************
*/

/* Fade animation */
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Slide from right animation */
@-webkit-keyframes slide-from-right {
  100% {
    right: 50px;
  }
}
@-moz-keyframes slide-from-right {
  100% {
    right: 50px;
  }
}
@-o-keyframes slide-from-right {
  100% {
    right: 50px;
  }
}
@keyframes slide-from-right {
  100% {
    right: 50px;
  }
}
/*
************************
GLOBAL STYLES
************************
*/
header {
  padding: 40px;
}
nav {
  position: absolute;
  right: 50px;
  top: 34px;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size:3em;
}
h3 {
  font-size: 2em;
}
footer {
  padding:10px;
  width:100%;
  color: white;
  letter-spacing: 2px;
  box-sizing: border-box;
}
.socialLink:hover {
  color:#a8a8a8;
  cursor: pointer;
}
.socialLink {
  color:white;
  text-decoration: none;
  transition: color 0.2s ease;
}
p {
  padding:30px 0px;
  letter-spacing: 1px;
  line-height:25px;
}
h5 {
  font-size:1.2em;
  font-family: khulabold;
}
i {
  font-style:italic;
}
.inlineLink {
  color:#ffcb63;
  transition: all 0.3s ease;
}
.inlineLink:hover {
  text-decoration: underline;
}
.transparentFooter {
  background:rgba(0,0,0,0.2);
}

/*
************************
HOME PAGE STYLES
************************
*/
.homeHeader {
  background: rgba(0, 0, 0, 0.2);
}
.homeOuterBlock {
  height:100%;
  background:url("../assets/snow.jpg");
  background-color:black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Fade animations */
  -webkit-animation: fade 3s 1;
  -moz-animation: fade 3s 1;
  -o-animation: fade 3s 1;
  animation: fade 3s 1;
}
.fadeIn {
  /* Fade animations */
  -webkit-animation: fade 3s 1;
  -moz-animation: fade 3s 1;
  -o-animation: fade 3s 1;
  animation: fade 3s 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity:0;
}
.animateDelay {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay:4s;
  animation-delay: 4s;
}
.shortAnimateDelay {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay:2s;
  animation-delay: 2s;
}
.homeNav {
  position: absolute;
  right: -200px;
  /* Fade animations */
  -webkit-animation: slide-from-right 2s 1;
  -moz-animation: slide-from-right 3s 1;
  -o-animation: slide-from-right 3s 1;
  animation: slide-from-right 2s 1;

  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay:4s;
  animation-delay: 4s;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.navLink {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-size:1.2em;
  letter-spacing: 5px;
  transition: all 0.5s ease;
}
.navLink:hover {
  text-shadow: 2px 5px 10px black;
}
#homeDropDown {
  background: rgba(42, 46, 54, 0.5);
}
#homeDropDown a {
  color: rgba(255, 255, 255, 0.5);
}
#homeDropDown a:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(42, 46, 54, 0.5);
}
.homeText {
  color:white;
  text-align: center;
  height: calc(100% - 128px);
  display: flex;
  align-items: center;
}
.homeTextContainer {
  width:100%;
  position: relative;
}
.homeHeading {
  text-shadow: 2px 5px 10px black;
}
.homeFooter {
  background:rgba(0,0,0,0.2);
  position:fixed;
  bottom:0;
}
#linkedInFooterIcon, #facebookFooterIcon {
  font-size: 1.75em;
  margin-right: 10px;
  top:1px;
  vertical-align: middle;
  position: relative;
}
#mailLink {
  position: relative;
  top:2px;
}
.mainHeadings {
  position:relative;
  padding-top:20px;
  color: white;
  height:62px;
}
.typewrite {
  color: white;
  text-decoration: none;
}


/*
************************
CONTACT PAGE STYLES
************************
*/
.contactOuterBlock {
  height:calc(100vh - 128px);
  background-color:#1e2126;
  display:flex;
  align-items: center;
}
.containBlock {
  position: relative;
  margin: 0 auto;
  max-width: 500px;
}
.mainContactBlock {
  width:100%;
}
.contactHeading {
  color: white;
  text-align: center;
  padding-bottom: 40px;
  text-shadow: 2px 5px 10px black;
}
.contactPhoto {
  width:70%;
  text-align: center;
  margin: 0 auto;
}
.contactPhotoBlock {
  padding:20px;
  display:flex;
}
.contactLinkBlock {
  padding:40px;
  display: flex;
  justify-content: space-around;
}
.contactLink {
  color: white;
  font-size: 5em;
  /* width: 15%; */
  width: 70px;
  height: 80px;
}
.contactLinkIcon {
  position: relative;
  transition: all 0.5s ease;
}
.contactLinkIcon:hover {
  transform: scale(1.1);
}
.contactLink:hover + .contactIcon {
  text-shadow: 2px 5px 10px black;
  text-align: center;
  padding:20px 0px 100px;
}
#contactLinkFB {
  width: 80px;
}
#contactLinkYT {
  width:90px;
}
#contactLinkIconFB {
  position: relative;
  transition: all 0.5s ease;
}
#contactLinkIconFB:hover {
  transform: scale(1.1);
  color: #4267B2;
}
#contactLinkIconYT {
  position: relative;
  transition: all 0.5s ease;
}
#contactLinkIconYT:hover {
  transform: scale(1.1);
  color: #FF0000;
}
#contactLinkIconLI:hover {
  color: #2867B2;
}
#contactLinkIconINSTA:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#contactLinkIconEMAIL:hover {
  color:#a8a8a8;
}

/*
************************
ABOUT PAGE STYLES
************************
*/

.aboutOuterBlock {
  background: #1e2126;
  height: 100%;
}
.mainContent {
  width:100%;
  padding: 50px 50px;
  box-sizing: border-box;
  color:white;
}
.aboutHeading {
  margin:0px;
  width:50%;
  display: inline-block;
}
.aboutFooter {
  position: fixed;
  bottom: 0;
}
.profileImage {
  background-size: 600px;
  margin:0px;
  display: inline-block;
  position:absolute;
}
.grayShadow:hover {
  text-shadow: 2px 5px 5px white;
  color:#ffcb63;
}
.skillsList {
  position:relative;
  box-sizing: border-box;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width:100%;
  margin:20px 0px 30px;
}
.skill {
  color:#a8a8a8;
  padding:10px;
  font-style:italic;
  width:30%;
  box-sizing: border-box;
}
.experienceList {
  margin:20px 0px 40px;
}
.listEntry {
  color:#a8a8a8;
}
.educationEntry {
  padding-left:30px;
}
#logo1 {
  margin-right:10px;
}
#logo1:hover {
  cursor: pointer;
  filter: sepia() saturate(10000%) hue-rotate(110deg) contrast(90%);
  -webkit-filter: sepia() saturate(10000%) hue-rotate(110deg) contrast(90%);
}
#logo2 {
  margin-left:8px;
  margin-right:20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.2s ease;
}
#logo2:hover {
  -webkit-filter: grayscale(0%);
   filter: grayscale(0%);
}
#logo3 {
  margin-right:8px;
  -webkit-filter: invert(100%) saturate(0%);
  filter: invert(100%) saturate(0%);
  transition: all 0.2s ease;
}
#logo3:hover {
  -webkit-filter: invert(0%);
  filter: invert(0%);
}
#responsiveImage {
  display: none;
}
#aboutImage {
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/*
************************
MUSIC PAGE STYLES
************************
*/

.containBlockWide {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
}
.musicOuterBlock {
  background: #1e2126;
}
.musicBox {
  position: relative;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.songBox {
  width: 30%;
  background-color: black;
  margin-bottom: 40px;
  transition: all 0.5s ease;
  position: relative;
}
.songParent {
  width: 100%;
  position: absolute;
  height: 100%;
  background: black;
  transition: all 0.5s ease;
}
.albumArt {
  width:100%;
  transition: all 0.5s ease;
}
.songCaption {
  font-size: 0.7em;
  color: #a8a8a8;
  padding-left: 10px;
  transition: all 0.5s ease;
}
.musicLink {
  color: #a8a8a8;
  transition: all 0.2s ease;
  font-size: 2.5em;
  float:right;
  margin-right: 10px;
}
.soundcloudLink:hover {
  color: #ff7700;
}
.spotifyLink:hover {
  color: #1DB954;
}
.bandcampLink:hover {
  color: #477987;
}
.songTitle {
  position: relative;
  top:10px;
}
.playButton {
  position:absolute;
  left: 50%;
  top: 50%;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s ease;
}
.playIcon {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size:60px;
  z-index: 10;
}
.playIcon:hover {
  cursor: pointer;
}
.circleSlider {
  position: absolute;
  transform:translate(-50%, -50%);
  transition: all 0.5s ease;
}

/*
************************
PROJECTS PAGE STYLES
************************
*/
.projectsOuterBlock {
  height:100%;
  width:100%;
}
.projectsHeading {
  margin-bottom: 70px;
}
.projImage1 {
  /* min-height: 300px; */
  padding:100px;
}
.projectPhoto {
  width:30%;
  text-align: center;
  transition: all 0.5s ease;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
.projectPhoto:hover {
  transform:scale(1.1);
}
.projectPhotos {
  padding:50px 0px;
  position: relative;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.caption {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 5px 10px black;
  color:white;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay:1s;
  animation-delay: 1s;
}
.subtitle {
  background-color: #111;
  text-shadow: none;
  padding: 18px;
  letter-spacing: 10px;
  font-size: 1.4em;
  color:white;
  transition: all 0.5s ease;
  max-width: 400px;
  margin: 0 auto;
}
.subtitle:hover {
  transform:scale(1.1);
}
.projSectionTitle {
  background-color:transparent;
  color: white;
  letter-spacing: 10px;
  height:100%;
  text-align: center;
  /* border-bottom: 1px solid white; */
  padding-bottom: 5px;
  margin: 0px 10px 0px;
  box-shadow: 0 8px 8px -8px white;
}
.projSectionInfo {
  color:#ddd;
  text-align:center;
  padding:50px 0px 0px 0px;
  text-align: justify;
}
#overview {
  color: white;
  background-color:gray;
  text-align:center;
  padding:50px 80px 20px 80px;
  text-align: justify;
  box-shadow: 0px 0px 10px 5px white;
}

/*
***************************
VIDEO PAGE STYLES
***************************
*/
.videoBlock {
  text-align: center;
  position: relative;
}
.iFrameContainer {
  position: relative;
  width:100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 100px;
}
.iFrameContainer iframe {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}

/*
***************************
MUSIC DROP DOWN MENU STYLES
***************************
*/
/* The dropdown container */
.dropdown {
  /* z-index: 1000; */
  display: inline;
}
/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
}
/* Dropdown content (hidden by default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #2a2e36;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 460px;
  margin-top: 4px;
}
/* Links inside the dropdown */
.dropdownContent a {
  float: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size:1.2em;
  letter-spacing: 5px;
}
.transparent {
  opacity: 0.5;
}
/* Add a grey background color to dropdown links on hover */
.dropdownContent a:hover {
  background-color: #3c424d;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
  display: block;
}

/*
************************
SLIDE OUT MENU STYLES
************************
*/
#menuButton {
  color: white;
  float:left;
  font-size: 1.5em;
  display: none;
}
#menuButton:hover {
  cursor: pointer;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1e2126;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 20px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: center;
  font-size:1.2em;
  letter-spacing: 5px;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sideNavLink:hover {
  background-color: #2a2e36;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*
************************
MEDIA QUERIES
************************
*/
@media all and (min-width:1200px) and (min-height:1100px) {
  .aboutFooter {
    position: fixed;
    bottom: 0;
  }
}
@media all and (min-width: 1035px) and (max-width:1200px) and (min-height:1264px) {
  .aboutFooter {
    position: fixed;
    bottom: 0;
  }
}
@media all and (min-width:1100px) and (max-width:1200px) and (min-height:1188px) and (max-height:1264px) {
  .aboutFooter {
    position: fixed;
    bottom: 0;
  }
}
@media all and (max-width:1024px) {
  .homeOuterBlock {
    background-position: center;
  }
  .profileImage {
    width:65%;
    display: block;
    top:100px;
    position: static;
    margin: 0 auto;
  }
  .aboutHeading {
    margin-top:50px;
    width:100%;
    display:block;
  }
  .aboutHeading h1 {
    text-align: center;
  }
  .aboutFooter {
    position: relative;
  }
  .homeHeading {
    margin:0 auto;
    text-align: center;
  }
  .homeSubHeading {
    margin:0 auto;
    text-align: center;
  }
  #responsiveImage {
    display:block;
  }
  #desktopImage {
    display:none;
  }
}
@media all and (max-width:805px) {
  nav {
    position: relative;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    height:50px;
  }
  .navLink {
    display: none;
  }
  .dropdownContent {
    left: 416px;
  }
  .dropdownContent a {
    font-size: 0.8em;
    padding:10px;
  }
  #menuButton {
    display: inline;
  }
}
@media all and (max-width:768px) {
  .songBox {
    width:45%;
  }
}
@media all and (max-width:768px) and (max-height:1300px) {
  .homeOuterBlock {
    background-position: 40%;
  }
}
@media all and (max-width:840px) {
  .projSectionInfo {
    padding:20px 40px;
  }
}
@media all and (max-width:768px) {
  .songBox {
    width:45%;
  }
  .mainContactBlock {
    padding-top: 10px;
  }
  .contactHeading {
    padding:20px 20px 40px;
  }
  .contactLink {
    width: 42px;
    height: 48px;
    font-size: 3em;
  }
  #contactLinkFB {
    width: 48px;
  }
  #contactLinkYT {
    width: 54px;
  }
  .contactLinkBlock {
    padding: 40px 20px 20px;
  }
  .navLink {
    font-size:0.8em;
    margin: 0px;
    padding:10px;
  }
  h1 {
    font-size:3em;
  }
  h2 {
    font-size:2.5em;
  }
  h3 {
    font-size:1.5em;
  }
  header {
    padding:20px;
  }
  footer {
    font-size: 0.8em;
  }
  .aboutSubHeading {
    text-align: center;
    padding-top:30px;
  }
  #logo1, #logo2, #logo3 {
    display:block;
    margin:0 auto;
    padding:20px;
  }
  #logo1 {
    padding-top:0px;
  }
  .experienceList {
    text-align: center;
  }
  .educationEntry {
    padding-top: 40px;
    padding-left:0px;
  }
  .subtitle {
    font-size:1em;
  }
  #overview {
    padding:40px 40px 20px;
  }
  .projSectionInfo {
    padding:20px 40px;
  }
  nav {
    line-height: 20px;
  }
  .aboutHeading {
    text-align: center;
  }
  .mainContent {
    padding: 10px 30px 30px;
  }
}
@media all and (max-width:600px) {
  .songBox {
    width:90%;
  }
  .skill {
    width:100%;
  }
}
@media all and (min-width: 768px) and (max-height:1000px) {
  #contactFooter {
    position: relative;
  }
}
@media all and (max-width: 520px) {
  .projectsParagraph {
    letter-spacing: 0px;
  }
  .projImage1 {
    padding: 50px;
  }
}
@media all and (max-width: 400px) and (max-height: 620px) {
  .homeFooter {
    position: relative;
    margin-top: 60px;
  }
}
@media all and (max-width: 400px) {
  .contactLink {
    font-size: 2em;
    width: 28px;
    height: 32px;
  }
  #contactLinkFB {
    width: 32px;
  }
  #contactLinkYT {
    width: 36px;
  }
  .projSectionTitle {
    margin: 0px;
  }
}
@media all and (max-width:400px) {
  .contactIcon {
    font-size: 40px;
  }
  .contactLink {
    padding:10px;
  }
  .contactLinkText {
    font-size: 1em;
  }
  .mainHeadings {
    font-size: 2em;
  }
}
/* @media all and (max-height:670px) {
  .contactIcon {
    font-size: 30px;
  }
  .contactLink {
    padding:5px;
  }
  .contactLinkText {
    font-size: 0.8em;

  }
} */
